{% extends 'base.html' %}

{% block content %}
<div style="margin-top: 25px">
    <strong>Building: </strong>{{building.label}}
    <ul>
        {% for floor in building.floor_set.all %}
            <li>
                <strong>Floor: </strong>{{floor.label}}
                <ul>
                    {% for segment in floor.segment_set.all %}
                        <li>
                            <strong>Segment: </strong>{{segment.label}}
                            <ul>
                                {% for slot in segment.slot_set.all %}
                                    <li><strong>Slot: </strong>{{slot.label}} - <a class="slot" href={% url 'reservations:reserve' slot.id %}>reserve this slot</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <p><a href={% url 'front_view:delete_building' building.id %}>Delete This Building</a></p>
</div>
{% endblock content %}
