{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="container">

    </div>
{% endblock content %}

{% block javascript %}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src={% static 'js/new_building.js' %}></script>
    <p id="key_help">Press Enter to add new instance of the same class,<br/>Tab to pass to the next input,<br/>and Shift+Enter to Backtrack</p>
    <div id="building"><input type="text"></input></div>
    <button id="submit">Save</button>
{% endblock javascript %}